<%- layout('./layouts/boilerplate') %>

    <div class="row mx-3" style="margin-top: 150px; margin-bottom: 282px;">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-sm-8 mx-auto">
            <form action="/reset/update" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="newPassword" class="form-label text-white">New Password : </label>
                    <input type="password" id="newPasssword" name="newPassword" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="confirmNewPassword" class="form-label text-white">Confirm new Password : </label>
                    <input type="password" id="confirmNewPasssword" name="confirmNewPassword" class="form-control" required>
                </div>
                <button type="submit" class="btn index-button text-end">Update</button>
            </form>
        </div>
    </div>