<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2 footer-text">
                            <strong>Sign Up For Our Newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control" />
                            <label class="form-label mt-2 footer-text" for="form5Example21">Email Address</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">Subscribe</button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p class="mt-2 text-center text-white footer-text">Copyright &copy; 2022 | <span class="footer-name-text">ShopStop</span> | All Rights Reserved</p>
        </div>
        <!-- Copyright -->
</footer>
<!-- Footer -->